main p {
  text-align: justify;
}

.logo {
  /* max-width: 100%;
   */
   object-fit: contain;
}

.footnotes {
  margin-top: 2rem;
}

article p img {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid white; */
  /* padding: 3rem; */
  /* border-radius: 1rem; */
}

/* @media (prefers-color-scheme: dark) {
  /* article p img {
    border: 2px dashed white;
  } */
  /* .light {
    display: none;
  } */
/* } */

.dark-img {
  display: none;
}

.light-img {
  display: block;
}

@media (prefers-color-scheme: dark) {
  /* article p img {
    border: 2px dashed red;
  } */

  .dark-img {
    display: block;
  }

  .light-img {
    display: none;
  }
}

table {
  min-width: 80%;
  /* max-width: 95%; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  border-radius: 10px;
}

th, td {
  padding: 0.5rem;
  text-align: center;
}

td svg {
  width: 100%;
}

td img {
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
}

.homepage {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  padding: 1rem 1rem;
}

.homepage div {
  height: 100%;
}
